[project]
	description = Spring 3 and Hibernate 4 Annotation Example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yaswanthvarma Vadugu (yvadugu)
[access "refs/for/refs/*"]
	read = group user/Yaswanthvarma Vadugu (yvadugu)
	push = group user/Yaswanthvarma Vadugu (yvadugu)
	label-Code-Review = -2..+2 group user/Yaswanthvarma Vadugu (yvadugu)
	label-Verified = -1..+1 group user/Yaswanthvarma Vadugu (yvadugu)
	rebase = group user/Yaswanthvarma Vadugu (yvadugu)
	removeReviewer = group user/Yaswanthvarma Vadugu (yvadugu)
	submit = group user/Yaswanthvarma Vadugu (yvadugu)
[access "refs/heads/*"]
	read = group user/Yaswanthvarma Vadugu (yvadugu)
	create = group user/Yaswanthvarma Vadugu (yvadugu)
	push = +force group user/Yaswanthvarma Vadugu (yvadugu)
	pushMerge = group user/Yaswanthvarma Vadugu (yvadugu)
[access "refs/tags/*"]
	push = +force group user/Yaswanthvarma Vadugu (yvadugu)
	pushTag = group user/Yaswanthvarma Vadugu (yvadugu)
	pushSignedTag = group user/Yaswanthvarma Vadugu (yvadugu)
